<form class="well" (submit)="addTask($event)">
  <div class="form-group">
    <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="add task">
  </div>
</form>

<div class="task-list">
  <div *ngFor="let task of tasks" class="row">
    <div class="col-1">
      <input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task)">
    </div>
    <div class="col-7">
      {{task.title}}
    </div>
    <div class="col-4">
      <input type="button" value="delete" (click)="deleteTask(task._id)" class="btn btn-danger">
    </div>
  </div>
</div>
